<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Social_Network_Rental.Presentacion.Properties.Settings.Conex"
            connectionString="Data Source=.;Initial Catalog=db_SNR;Persist Security Info=True;User ID=sa;Password=upt"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>